body {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin: 0;
}

header {
    display: block;
    position: sticky;
    background: #805252;
}

header ul a {
    text-decoration: none;
    color: black;
}

header div {
    float: left;
    width:50%;
}

header img {
    scale: 0.8;
    float: left;
    margin-left: 5vw;

    border: solid 5px black;
    border-radius: 20px;
}

header p {
    font-family: "Brush Script MT";
    text-align: end;
    padding-top: 5%;
    font-size: xx-large;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding-top: 70px;

    top: 0;
    height: 170px;
    padding-left: 80px;
    margin-right: 5vw;
}

header li {
    float: right;
    border-left: 4px solid rgb(75, 67, 67);
    max-width: auto;
}

header a {
    display: block;
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dddddd;

    font-size: 24px;
    font-weight: bold;
}

header li a:hover {
    background-color: #f3d36b;
  }

#background {
    margin: auto; /*Per centrare orizzontalmente*/
    width: 60vw;
    margin-top: 5vh; /*Per gestire dove centrare verticalmente*/
    
    display: flex; /*Ho usato flex per centrare il form al suo interno*/
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    background: rgba(255, 255, 255, 0.5); /*Carina come idea dello sfondo opaco? [L'avevo vista su un video di youtube mi pare]*/
    height: 60vh;
}

#form {
    text-align: center;
    font-weight: bolder;

    height: 25vh;
    width: 25vw;
}