header {
    display: block;
    position: sticky;
    margin-left: 40px;
    margin-right: 100px;
}

header ul a {
    text-decoration: none;
    color: black;
}

header div {
    float: left;
    width:50%;
}

header img {
    scale: 0.8;
    float: left;
}

header p {
    font-family: "Brush Script MT";
    text-align: end;
    padding-top: 5%;
    font-size: xx-large;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding-top: 50px;

    top: 0;
    height: 170px;
    padding-left: 80px;
}

header li {
    float: right;
    border-left: 4px solid rgb(75, 67, 67);
    max-width: auto;
}

header a {
    display: block;
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dddddd;

    font-size: 24px;
    font-weight: bold;
}

header li a:hover {
    background-color: #f3d36b;
  }

#gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.photo {
    margin-right: 40px;
    margin-bottom: 65px;
}

section img {
    border: solid 5px black;
    border-radius: 10px;

    width: 360px;
    height: 300px;
}

section p {
    text-align: center;
    font-size: 32px;
    font-family: "Brush Script MT", "Brush Script Std", "cursive";

    margin-left: 50px;
    margin-right: 50px;

    border-bottom: solid 5px black;
}