body {
    margin: 0;
    background: black;
}

header ul {
    list-style-type: none; /*si tolgono i punti*/
    margin: 0; /* si setta tutto a default */
    padding: 0;

    width: 100vw;

    font-size: 48px;
    text-align: center;
}

header li a {
    display: block; /* serve per rendere tutta l'area dell'elemento "a" cliccabile e che possiamo adesso modificare a nostro piacimento a livello di djmensioni, prima invece non potevamo lavorare sull'area, ma solo sul testo */
    
    text-decoration: none; /* toglie le personalizzazioni che hanno i link di default, tipo la sottolineatura */
    color: black;

    background-color: #c50018;
    border: 1px solid black;
}

#gallery {
    margin-top: 40px;
      
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: 10vw; /* Non capisco, ma non funziona se faccio width: 100%; (probabilmente perché il section non è in funzione di display: block?) */
}

.photo {
    display: block;
    width: 90%;
}

section img{
    border: solid 5px black;
    border-radius: 10px;
    
    width: 90%;
}

section p {
    text-align: center;
    font-size: 32px;
    font-family: "Brush Script MT", "Brush Script Std", "cursive";

    margin-left: 50px;
    margin-right: 50px;

    border-bottom: solid 5px black;
}
