body {
    margin: 0; /*altrimenti il browser setta di default un piccolo margin e farebbe vedere
    delle striscioline bianche come bordi della pagina intera */
}

header {
    display: block;
    height: 110vh; /* vh[View port Height] -> serve per specificare le dimensioni come in percentuale a seconda del nostro schermo,
    esiste anche vw[Viewport Width] */
}

header div img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;

    margin-bottom: 150px;
}

header div p {
    font-size: 36px;
    text-align: center;
    font-family: "Brush Script MT";

    margin-bottom: 200px;
}

header ul {
    list-style-type: none; /*si tolgono i punti*/
    margin: 0; /* si setta tutto a default */
    padding: 0;

    width: 100vw;

    font-size: 48px;
    text-align: center;
}

header li a {
    display: block; /* serve per rendere tutta l'area dell'elemento "a" cliccabile e che possiamo adesso modificare a nostro piacimento a livello di djmensioni, prima invece non potevamo lavorare sull'area, ma solo sul testo */
    
    text-decoration: none; /* toglie le personalizzazioni che hanno i link di default, tipo la sottolineatura */
    color: aliceblue;

    background-color: lightseagreen;
    border: 1px solid black;
}

section {
    display: flex;
    flex-direction: column;
}

section img {
order: 2;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* tutto questo per dimensionare una immagine a metà della pagina
    se non mettessimo i 2 margin + display: block, non potremo modificare la width della immagine + non sarebbe centrata */

    margin-top: 20px;
}

section div{
    order: 1;
}

section div h1{
    font-size: 36px;
    margin-bottom: 0;
}

section div h2{
    font: 18px;
    margin-top: 5px;
    font-style: italic;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center; /* allinea al centro gli items, ovvero gli elementi dentro il footer che
    è di display flex, perciò adesso i suoi contenuti sono definiti come scatole... */

    background-color: bisque;

    height: 200px;
}

#firma {
    order: 2;

    margin-left: 45vw; /* questo non so pk qui 45, e di la 5... somma 50 e non 100?, forse pk è un cellulare? */
}

.titolo {
    text-decoration: underline;
}

#contatti {
    order: 1;

    margin-left: 5vw;
}

#instagram {
    width: 20px;
    height: 20px;
}

#youtube {
    width: 20px;
    height: 20px;
}

footer a {
    text-decoration: none;
    color: black;
}